.menuBg {
  background: #540a6d;
}

.menu {
  max-width: 960px;
  margin: 0 auto;
  padding: 15px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.menu a {
  color: white;
}

.menuLogo a {
  font-size: 2.25em;
  font-weight: bold;
  margin: 0 10px;
}

.menuNav ul {
  display: flex;
  flex-wrap: wrap;
}

.menuNav a {
  font-size: 1.25em;
  display: block;
  padding: 10px;
}

.menuNav a:hover {
  color: #ae81ff;
  transition: 0.5s;
}
