.movie {
  border-top: 2px solid #540a6d;
  border-bottom: 2px solid #540a6d;
  max-width: 960px;
  margin: 0 auto;
  padding: 60px 0;
  display: flex;
  flex-wrap: wrap;
}

.movieInfo {
  flex: 2 1 300px;
  margin: 0 10px;
}

.movieInfo h1 {
  font-size: 3em;
  margin-bottom: 0.5em;
  color: #540a6d;
}

.movieInfo p {
  font-size: 1.25em;
  line-height: 1.4;
  margin-bottom: 1em;
  color: #7c7c7c;
}

.movieImg {
  flex: 1 1 160px;
  margin: 0 10px;
}
