.search {
  background: #f7f7f7;
  padding: 20px calc((100% - 960px) / 2);
  display: flex;
  flex-wrap: wrap;
}

.searchForm {
  flex: 2 1 260px;
  margin: 0 10px;
  align-self: center;
  display: flex;
  flex-wrap: wrap;
}

.searchForm input {
  flex: 3 1 260px;
  font-size: 1.25em;
  color: #7c7c7c;
  font-style: italic;
  font-family: "Nunito", Helvetica, Arial, sans-serif;
  border: 4px solid #7c0aa2;
  background: transparent;
  padding: 15px 10px;
  margin: 0px;
  border-radius: 0px;
}

.searchForm button {
  flex: 1 1 50px;
  font-family: "Nunito", Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
  background: #7c0aa2;
  color: white;
  margin: 0px;
  cursor: pointer;
  border: 0px;
  padding: 15px 10px;
}

.searchForm button:hover {
  background: #9217bb;
  transition: 0.5s;
}

.backButton {
  display: inline-block;
  flex: 0 1;
  font-family: "Nunito", Helvetica, Arial, sans-serif;
  font-size: 1.8em;
  font-weight: bold;
  text-transform: uppercase;
  background: #540a6d;
  color: #fff;
  margin: 10px;
  cursor: pointer;
  border: 0px;
  padding: 15px 10px;
}

button {
  flex: 0;
  font-family: "Nunito", Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
  background: #7c0aa2;
  color: white;
  margin: 0px;
  cursor: pointer;
  border: 0px;
  padding: 15px 15px;
}

@media (max-width: 600px) {
  .searchForm button {
    font-size: 1.5em;
  }
}
